.Contato {
  display: grid;

  grid-template-columns: 1fr 1fr;
}

.Contato h3 {
  margin: 0;

  margin-bottom: 1.875rem;

  font-size: 1.5625rem;
}

.Contato-info h3:nth-of-type(2) {
  margin-top: 3.75rem;
}

.Contato-info,
.Contato-formulário {
  padding: 4rem 0;
}

.Contato-formulário {
  background-color: black;

  color: white;

  padding-left: 7.125rem;
}

.Conteúdo-contato-info,
.Conteúdo-contato-formulário {
  width: 600px;
}

.Conteúdo-contato-info {
  float: right;

  padding-right: 7.125rem;
}

.Conteúdo-contato-formulário {
  padding-left: 6rem;
}

.Contato-formulário label,
.Contato-formulário input {
  display: block;
}

.Contato-info i {
  color: var(--amarelo);

  font-size: 1.5rem;
}

.Contato-info span {
  font-family: "Roboto";

  font-size: 1.0625rem;

  font-weight: 700;

  line-height: 1.6875rem;

  display: grid;

  grid-template-columns: 1.5rem auto;

  align-items: center;

  gap: 0.625rem;
}

.Contato-formulário button {
  float: right;

  position: relative;

  right: 2.9rem;
}

.Contato-formulário label {
  font-weight: 700;
}

.Contato-formulário input {
  background: unset;

  color: white;

  border: unset;

  border-bottom: 0.06rem solid white;

  width: 89%;

  margin-bottom: 1.875rem;

  padding: 0.5rem;

  font-size: 1.25rem;
}

.Contato-formulário input:focus {
  outline: unset;
}

.Mapa,
.Mapa iframe {
  height: 36.5rem;
}
