.hero {
  margin-top: -1px;

  margin-left: -1px;
}

main {
  margin-top: -4px;
}

.Conteúdo-galeria {
  width: 71.3125rem;

  height: 66.5625rem;

  margin: 0;

  padding-top: 9rem;

  padding-bottom: 1rem;

  width: 100%;

  background-color: black;

  overflow: hidden;
}

.Conteúdo-galeria img {
  width: 100%;
}
