.Barra-de-navegação {
  position: absolute;

  z-index: 1;

  top: 0;

  left: 0;

  width: 100%;

  background-color: unset;

  color: white;
}

.Conteúdo-barra-de-navegação {
  width: 100%;

  height: 7.8125rem;

  display: grid;

  grid-template-columns: 1fr 9fr;

  padding: 0 1rem;

  align-items: center;
}

.links {
  justify-self: end;
}

.links li {
  margin-right: 3rem;

  font-size: 0.875rem;

  text-transform: uppercase;
}

.links a {
  color: white;

  text-decoration: none;

  font-weight: 300;
}

.links a.Active {
  color: var(--amarelo);
}

.links a:hover {
  color: var(--amarelo);
}
