@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap');

* {

    box-sizing: border-box;

}

:root {

    --amarelo: #ffc50f;

    font-family: 'Montserrat', sans-serif;

    font-size: 16px;

}

.Barra-de-navegação {

position: fixed;

background-color: black;

color: white;

top: 0;

left: 0;

width: 100%;

height: 7.8125rem;

display: grid;

grid-template-columns: 1fr 9fr;

padding: 0 1rem;

align-items: center;

}

body {

    margin: 0;

    padding-top: 7.8125rem;

}

ul {

    display: flex;

    list-style: none;

    padding-left: 0%;

}

.links li {

    margin-right: 3rem;

    font-size: 0.875rem;

    text-transform: uppercase;

}

.links {

    justify-self: end;

}

.links a {

    color: white;

    text-decoration: none;

    font-weight: 300;

}

.links a:hover {

    color: var(--amarelo)

}

.logo1 {

    font-weight: 900;

    text-transform: uppercase;

    text-align: right;

    font-size: 2.375rem;

    line-height: 1ch;

}

.logo2 {

    font-weight: 300;

    font-size: 00.875rem;

}

.yellow {

    color: var(--amarelo);

}