@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap');

* {

    box-sizing: border-box;

}

:root {

    
    font-family: 'Montserrat', sans-serif;
    
    font-size: 16px;
    
    --cinza: #333;
    
    --amarelo: #ffc50f;

    --padding-padrão: 1rem;
}

.Conteúdo {

    max-width: 1140px;

    margin: 0 auto;


}

ul {

    display: flex;

    list-style: none;

    padding-left: 0%;

}

.Barra-de-navegação {

position: fixed;

z-index: 1;

top: 0;

left: 0;

width: 100%;

background-color: black;

color: white;

}

.Conteúdo-barra-de-navegação {
    
width: 100%;

height: 7.8125rem;

display: grid;

grid-template-columns: 1fr 9fr;

padding: 0 1rem;

align-items: center;

}

body {

    margin: 0;

    padding-top: 7.8125rem;

    width: 100%;

}

header,main,footer {

overflow-x: hidden;

}


.links li {

    margin-right: 3rem;

    font-size: 0.875rem;

    text-transform: uppercase;

}

.links {

    justify-self: end;

}

.links a {

    color: white;

    text-decoration: none;

    font-weight: 300;

}

.links a:hover {

    color: var(--amarelo)

}

.logo1 {

    font-weight: 900;

    text-transform: uppercase;

    text-align: right;

    font-size: 2.375rem;

    line-height: 1ch;

}

.logo2 {

    font-weight: 300;

    font-size: 00.875rem;

}

.yellow {

    color: var(--amarelo);

}

#slider {

    background-color: black;

    color: white;


}

.margem0 {

    margin: 0;

}


.slide {

    height: calc(110vh - 7.75rem);

    position: relative;

}

.background {

    width: 100%;

    height: 100%;

    object-fit: cover;

    object-position: center;

}

.cópia-slide {

    position: absolute;

    top: 6.25rem;
 
    left: 50vw;

}

.cópia-slide h6 {

    font-size: 0.9375rem;

    font-weight: 400;

    text-transform: uppercase;

    letter-spacing: 0.1875rem;

}

.cópia-slide h2 {

    font-size: 6.25rem;

    text-transform: uppercase;

    line-height: 6.25rem;

}

.cópia-slide h2 span {

    display: block;

}

.botão {

    padding: 1rem 2.5rem;

    color: var(--amarelo);

    border: 0.125rem solid white;

    background: unset;

    border-radius: 10rem;

    font-size: 0.9375rem;

    font-weight: 700;

    text-transform: uppercase;

    cursor: pointer;

    transition: 1s all ease;

}

.botão:hover, .botão:active, .botão:focus, .botão-institucional {

    border-color: var(--amarelo);
   
    background-color: var(--amarelo);
   
    color: white;

    box-shadow: 0 1rem 1rem #0006;

}

#números {

    background-color: var(--amarelo);
    
    color: white;

    text-transform: uppercase;

}

.box-números {

    padding: 4.375rem 1rem;

    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)) ;

    place-items: center;

}

.box-números h3 {

    font-size: 2.1875rem;

}

.box-números h3 small {

    font-size: 1.25rem;

    display: block;

}

.institucional {

    display: grid;

    grid-template-columns: auto auto;

    align-items: center;

    padding: 4.375rem;

    gap: 3.125rem;

}

.imagem-institucional {

    max-width: 550px;

}

.cópia-institucional {

    padding: 0 1.875rem;

}

.cópia-institucional h6 {

    font-size: 00.875rem;

    font-weight: 300;

    letter-spacing: 0.1rem;

    text-transform: uppercase;

    margin: 0;

}

.cópia-institucional h4 {

    font-size: 1.5625rem;

    margin-top: 1rem;

}

.institucional p {

    font-family: 'Roboto', sans-serif;

    font-size: 1.0625rem;

    line-height: 1.6875rem;
    
    margin: 0;

    margin-bottom: 2.5rem;

}

.botão-institucional:hover {

    color: var(--cinza);

    background: unset;
}

.Cotação {
    
    background-image: url(./images/parallax.jpg);

    background-attachment: fixed;

    background-repeat: no-repeat;
    
    background-size: cover;
    
    background-position: center;
    
}
    
    .Conteúdo-cotação {
        
        display: grid;
        
        align-items: center;
        
        justify-items: end;
        
        min-height: 80vh;
        
    }
    
    

.Cópia-cotação {

    background-color: white;

    padding: 5.625rem 4.375rem;

    }

    .Cópia-cotação h6 {

        font-weight: 400;

        font-size: 0.9375rem;

        letter-spacing: 0.1875rem;

        line-height: 1.4375rem;

        max-width: 53ch;

        text-transform: uppercase;

        margin: 0;
    }

    .Cópia-cotação h2 {

        font-size: 5rem;

        text-transform: uppercase;

        letter-spacing: -0.1875rem;

        line-height: 5rem;

        margin: 1.875rem 0;

    }

    .Cópia-cotação h2 span {

        display: block;

    }

    .botão-cotação {

        color: var(--cinza);

        border-color: var(--cinza);

        background: unset;

    }