@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/fontawesome.min.css");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/brands.min.css");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/solid.min.css");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");

@import "./css/_variables.css";

@import "./css/_base.css";

@import "./css/_navbar.css";

@import "./css/_home.css";

@import "./css/_contacts.css";

@import "./css/_btn.css";

@import "./css/_footer.css";

@import "./css/_hero.css";

@import "./css/_empresa.css";

@import "./css/_eventos.css";

@import "./css/_galeria.css";

.logo1 {
  font-weight: 900;

  text-transform: uppercase;

  text-align: right;

  font-size: 2.375rem;

  line-height: 1ch;
}

.logo2 {
  font-weight: 300;

  font-size: 00.875rem;
}

.logo1 a {
  text-decoration: unset;

  color: white;
}

.yellow {
  color: var(--amarelo);
}

.logo2 {
  display: block;
}
